<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Blog</title>
</head>
<body>
  <form action="{% url 'blog:edit_action' %}" method="post">
    {% csrf_token %}
    <!-- {% if article %} -->
    <!-- {% else %} -->
    <!-- {% endif %} -->
    <input type="hidden" name="article_d" value={{article.id | default:'0' }}>
    <div><label for="title" data-article="{{article}}">Title: <input required max-length="32" type="text" name="title" value="{{article.title}}"></label></div>
    <div><label for="content">Content: <textarea name="content" cols="30" rows="10">{{article.content}}</textarea></label></div>
    <div><input type="submit" value="submit"></div>
  </form>
</body>
</html>